code[class*="language-"],
pre[class*="language-"] {
	font-family: Input Mono;
}

[class*='lang-'] script[type='text/plain'],
[class*='language-'] script[type='text/plain'],
script[type='text/plain'][class*='lang-'],
script[type='text/plain'][class*='language-'] {
	font: 100% Input Mono;
  padding: none;
}

div.highlight {
    background: none;
    padding: 0em;
    /*
    padding: 0.0625rem 0.33rem;
    border-radius: 0.5rem;
    */
}



