code[class*="language-"],
pre[class*="language-"] {
	font-family: Input Mono;
  padding: 0em;
}

[class*='lang-'] script[type='text/plain'],
[class*='language-'] script[type='text/plain'],
script[type='text/plain'][class*='lang-'],
script[type='text/plain'][class*='language-'] {
	font: 100% Input Mono;
  padding: none;
  background-color: none;
}




